*{
	margin:0px;
padding:0px;  }

.main{
	display: inline;
}
.cards{
	
	width:15%;
	display: inline-block;
	background-color: white;
	box-shadow:2px 2px 10px black;

	border-radius:8px;
	margin:40px;
	padding-bottom:8px;
	

}

.image img{
	width:100%;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.title{
	font-size:20px;
	color:rgb(188, 148, 94);
text-align:center;
padding:5px;
}
.des{
text-align:center;}
nav{
width : 100%;
height:60px;
background-color : #e9e2e2;
}

nav ul{
float: right;
}


nav ul li {
float: right;
list-style:none;
position: relative;

}
nav ul li a{
	display :block;
	font-family: arial;
color: rgb(188, 148, 94);
font-size:20px;
font-weight: bold;
padding:10px 18px 10px 18px;
text-decoration:none;
}

nav ul li ul{
	display :none;
	position : absolute;
	background-color :#e9e2e2;;
	padding:10px;
	border-radius:0px 0px 4px 4px;
}
nav ul li ul li {
width:60px
border-radius:6px;}
nav ul li ul li a {
	position : relative;
padding:3px 9px 3px 9px;
}
nav ul li ul li a:hover{
background-color :#e6e6e6;
}
nav ul li:hover ul{
	display :block;
	}
	
	.search{
float: left;}

.insearch{
    padding: 0px 20px;
    width: 230px;
    height: 40px;
    font-size: 22px;
 }
 .sbutton{
	 background-color :#e9e2e2;;
    width: 60px;
    height: 40px;
    font-size: 18px;
  }
   .sbutton:hover{
   background-color :#e6e6e6; }